@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


* {
    font-family: 'Outfit';
}

body {
    margin: 0;
    padding: 0;
    list-style-type: none;

    background-color: #0a1c1d;
    color: #dcf2f3;
}

.bloc {

   
    border-radius: 10px;
    height: 300px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

}

.text {
    text-align: center;

}

.reponse {
    filter: blur(8px);
    transition: 0.5s;
    cursor: pointer;
}

.reponse:hover {
    
    filter: blur(0px);
}

.btn {
    background: #8ed0d9;
    border: none;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.5em;
    color: #0a1c1d;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}